<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OnlineStore.Properties.Settings.okboomer_connectionstring"
            connectionString="Data Source=SQL6007.site4now.net;Persist Security Info=True;User ID=DB_A5061A_okboomer_admin;Password=okboomerserver0"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>